<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="asyncConsole" />
  </root>

  <appender name="asyncConsole" type="Wallet.Infrastructure.Logger.AsyncAppender.AsyncConsoleAppender, Wallet.Infrastructure.Logger">
    <BufferSize value="50000"/>
  </appender>

  <appender name="asyncJsonRollingFile" type="Wallet.Infrastructure.Logger.AsyncAppender.AsyncRollingFileAppender, Wallet.Infrastructure.Logger">
    <BufferSize value="50000"/>
    <FilePath value="./Log/Fiat_Back.log" />
    <AppendToFile value="true" />
    <MaxSizeRollBackups value="5" />
    <MaximumFileSize value="10MB" />
    <AutoDelete value="false"/>
  </appender>
</log4net>