<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="jsonfile" />
  </root>
  <appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
      <backColor value="Black" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
      <backColor value="Black" />
    </mapping>
    <mapping>
      <level value="Debug" />
      <foreColor value="Yellow" />
      <backColor value="Black" />
    </mapping>
    <layout type="Wallet.Infrastructure.Logger.ConsoleLayout, Wallet.Infrastructure.Logger">
      <param name="Frame" value="8" />
    </layout>
  </appender>
  <appender name="jsonfile" type="log4net.Appender.RollingFileAppender">
    <file value=".\Log\BootcapProject.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="Wallet.Infrastructure.Logger.JsonLayout, Wallet.Infrastructure.Logger">
      <param name="Frame" value="8" />
    </layout>
  </appender>
</log4net>